<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @author.country %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
