<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>

      <th>Name</th>
      <th>Email</th>
      <th>Admin rights</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
          <% if user.website_admin %>
            <%= link_to "Remove admin", controller: 'users', action: 'remove_admin', id: user.id %>
          <% else %>
            <%= link_to "Make admin", controller: 'users', action: 'make_admin', id: user.id %>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New User', new_user_path %>
